body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 16px;
  background-image: url(backgound.jpg);
  background-blend-mode: color-burn;
  background-size: contain;
  background-color: #0069E0;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
}

header {
  width: 90%;
  min-height: fit-content;
  background-color: #0069E0;
  border-style: solid;
  border-color: #F7FFF6;
  border-width: 2px;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

main {
  text-align: center;
  width: 80%;
  background-image: url(backgound.jpg);
  background-color: #f2f3f2;
  background-size: contain;
  background-blend-mode: overlay;
  border-radius: 5px;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
}



h1 {
  padding-top: 20px;
}

ol {
  text-align: center;
  list-style-position: inside;
  color: #F7FFF6;
  padding-bottom: 10px;
}

button {
  background-color: #0E1C36;
  color: #f2f3f2;
  margin: 20px;
}

ul {
  text-align: center;
  list-style-position: inside;
}

p {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

article {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.navbar {
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  color: #F7FFF6;
}

.logo {
  float: left;
  width: 15%;
  min-width: 300px;
  color: #F7FFF6;
  padding-top: 5px;
}

.navigation {
  text-align: center;
  align-self: center;
  justify-content: space-evenly;
  float: right;
  text-decoration-style: none;
  color: #F7FFF6;
  padding-top: 5px;
}

.navigation a {
  color: #F7FFF6;
  padding: 2px;
  padding-bottom: 3px;
}

a:hover {
  background-color: #0E1C36;
}

.selected {
  background-color: #0E1C36;
}

.text {
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.section1 {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0E1C36;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.section1 p {
  flex-basis: 50%;
  flex-wrap: wrap;
  flex: 1;
  color: #F7FFF6;
}

.section1 ul {
  flex-basis: 50%;
  flex-wrap: wrap;
  flex: 1;
  list-style-position: inside;
  color: #F7FFF6;
}

.logoimg {
  max-width: 40%;
  min-width: 215px;
  padding: 5px;
  padding-bottom: 10px;
  margin-left: 20px;
}

.section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0E1C36;
  border-radius: 5px;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 20px;
}

.logoimg2 {
  justify-content: center;
  min-width: 215px;
  flex: 1;
  padding: 5px;
  
}



/* ------------------Style for inline box sections on index.html------------------*/

.inlineDiv {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  color: #F7FFF6;
  padding-bottom: 20px;
}

.divBox {
  flex-basis: 20%; 
  text-align: center;
  background-color: #0E1C36;
  border: solid;
  border-color: #1d0fdd;
  border-width: 1px;
  border-radius: 5px;
  padding: 2px;
  margin: 2px;
}

.divBox img {
  max-width: 80%;
  height: auto;
  margin: 10px;
}

.divBox p {
  text-align: center;
  font-size: 14px;
}

.divBox a:visited {
color:#ffffff;
}


/* ------------------Style for gallery------------------*/

.flex-container {
  align-items: center;
  align-content: space-around;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #0E1C36;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 10px;
  margin: 10px;
  margin-bottom: 10px;
}

.flex-container img {
  width: 100%;
  flex-basis: 30%;
  background-color: white;
  border-style: solid;
  border-color: #F7FFF6;
  border-width: 2px;
  border-radius: 5px;
  padding: 5px;
  padding-bottom: 5px;
  margin: 5px;
}
/* ------------------Style for Quiz form------------------*/

#quiz {
  justify-content: left;
  background-color: #ffffff;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
}

/* ------------------Style for photoapp------------------ */

.app {
  padding: 10px;
  margin: 10px;
}

.appimg {
  max-height: 200px;
  max-width: 200px;
}

/* ------------------Style for TicTacToe mini-game------------------ */

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  padding: 10px;
  margin-left: 5%;
  margin-right: 5%;
  align-self: center;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.cell {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  contain: content;
  align-self: center;
  align-content: center;
}


/* ------------------Style for Rock, Paper, Scissors mini-game------------------ */

#rpsGame {
border-style: solid;
border-color: #0E1C36;
border-width: 1pt;
padding: 5px;

}

#results{
padding-top: 30px;
text-align: center;
}

/* ------------------Footer Style------------------ */
footer {
width: 80%;
font-size: 12pt;
background-color: #f0f0f0;
border-radius: 5px;
padding: 10px;
margin: 5px;
}

/* ------------------Style div "footer-content"------------------*/
.footer-content {
display: flex;
justify-content: space-between;
}

/* ------------------Stlye links in footer-content------------------*/
.footer-content a {
text-decoration: none;
color: #007bff;
}

/* ------------------Stlye Paragraph in footer-content------------------*/
.footer-content p {
margin: 0;
}

/* ------------------Media queries for responsiveness------------------*/
@media screen and (max-width: 768px) {
body {
    padding: 2%;
    margin: 2%;
}

header, main, footer {
    width: 100%;
}

.divBox {
  flex-basis: 60%;
  margin-bottom: 20px; 
}
}
